@import url('https://fonts.googleapis.com/css2?family=Acme&family=Nerko+One&family=Roboto&display=swap');

body {
  margin: 0;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Nerko One', 'Acme', 'Roboto', sans-serif;
  background: linear-gradient(
      180deg,
      rgba(255, 235, 205, 0.75) 0%,
      rgba(250, 128, 114, 0.75) 100%
    )
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a,
button {
  cursor: pointer;
  font-size: larger;
  font-family: inherit;
  color: inherit;
  text-shadow: 1px 0 1px white;
  text-decoration: none;
  border: none;
  background-color: transparent;
  width: 8rem;
  height: 1rem;
}

a:hover,
button:hover {
  font-size: 1.5rem;
}

input {
  display: none;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  text-align: center;
  text-shadow: 1px 0 1px white;
  margin: 1rem 0;
}

#start-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}

#start-main h1 {
  font-size: 4rem;
  animation-name: flip;
  -moz-animation-name: flip;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-delay: 0;
  -webkit-animation-delay: 0;
}

@keyframes flip {
  0% {
    transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
  }
}

#start-main h2 {
  margin-top: 3rem;
}

.start-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 18rem;
}

.start-buttons a {
  text-align: center;
  width: 4.5rem;
}

.placeholder {
  width: 4.5rem;
}

.board-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.board-header {
  display: flex;
  justify-content: space-evenly;
}

.board-header h3 {
  width: 4.5rem;
  overflow: visible;
}

#board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.board-buttons {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.board-buttons button {
  margin: 0 4rem;
}

.easy {
  width: 43rem;
}

.medium {
  width: 57rem;
}

.hard {
  width: 85.5rem;
}

.card {
  width: 50px;
  height: 50px;
  margin: 1rem;
  padding: 1rem;
  font-size: 2rem;
  text-shadow: none;
  perspective: 300px;
}

.content {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

[id^='cardControl']:checked + label .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 3rem;
  background: blanchedalmond;
  border: 2px solid salmon;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}

#nice {
  display: none;
  position: absolute;
  background: blanchedalmond;
  border: 4px solid salmon;
  border-radius: 5px;
  padding: 1rem;
  z-index: 5;
  top: 30%;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  animation-name: bounce;
  -moz-animation-name: bounce;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
  }
}

#replay {
  display: none;
}

@media screen and (max-width: 480px) {
  a,
  button {
    font-size: 1.3rem;
    height: 1.5rem;
    width: 9rem;
  }

  a:hover,
  button:hover {
    font-size: 1.3rem;
  }

  #start-main h1 {
    font-size: 3.5rem;
  }

  .board-header {
    justify-content: space-between;
    margin-left: 4rem;
    padding-right: 4rem;
  }

  #board-container {
    justify-content: space-around;
  }

  .board-buttons button {
    margin: 0 1rem;
  }

  #nice {
    top: 36%;
  }

  .placeholder {
    display: none;
  }

  .card {
    width: 30px;
    height: 30px;
  }

  .easy {
    width: 18rem;
  }

  .medium,
  .hard {
    width: 23.5rem;
  }
}
