@import url('https://fonts.googleapis.com/css2?family=Acme&family=Nerko+One&family=Roboto&display=swap');

body {
  margin: 0;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Nerko One', 'Acme', 'Roboto', sans-serif;
  background: linear-gradient(
      180deg,
      rgba(255, 235, 205, 0.75) 0%,
      rgba(250, 128, 114, 0.75) 100%
    )
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a,
button {
  cursor: pointer;
  font-size: larger;
  font-family: inherit;
  color: inherit;
  text-shadow: 1px 0 1px white;
  text-decoration: none;
  border: none;
  background-color: transparent;
  width: 8rem;
  height: 1rem;
  transition: font-size 0.1s;
}

a:hover,
button:hover {
  font-size: 1.5rem;
}

#cloud-one {
  top: 125px;
  right: 75px;
}

#cloud-two {
  top: 125px;
  left: 75px;
}

#cloud-three {
  bottom: 75px;
  right: 75px;
}

#cloud-four {
  bottom: 75px;
  left: 75px;
}

.float-one {
  animation: float-one 45s infinite;
}

.float-two {
  animation: float-two 45s infinite;
}

.cloud {
  position: absolute;
  background: rgba(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 100px;
  border-radius: 150px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.cloud:after {
  content: '';
  background: rgba(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: -50px;
  left: 50px;
}

.cloud:before {
  content: '';
  background: rgba(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 170px;
  height: 150px;
  border-radius: 50%;
  top: -90px;
  right: 40px;
}

@keyframes float-one {
  0% {
    transform: translatex(0);
  }
  33% {
    transform: translatex(-75px);
  }
  66% {
    transform: translatex(75px);
  }
  100% {
    transform: translatex(0);
  }
}

@keyframes float-two {
  0% {
    transform: translatex(0);
  }
  33% {
    transform: translatex(75px);
  }
  66% {
    transform: translatex(-75px);
  }
  100% {
    transform: translatex(0);
  }
}

@media screen and (max-width: 480px) {
  .cloud {
    display: none;
  }
}
