#start-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  height: 100vh;
}

#flippy-matchy {
  text-align: center;
  text-shadow: 1px 0 1px white;
  margin: 1rem 0;
  font-size: 4rem;
  cursor: pointer;
}

hr {
  width: 12rem;
  height: 1px;
  margin: 2rem 0;
  border: 1px solid black;
  border-radius: 5rem;
  background-color: black;
}

.break {
  margin: 1.25rem 0 0;
}

.flip-animation {
  animation-name: flip;
  -moz-animation-name: flip;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-delay: 0;
  -webkit-animation-delay: 0;
}

@keyframes flip {
  0% {
    transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
  }
}

.start-upper-menu h2 {
  text-align: center;
  text-shadow: 1px 0 1px white;
  margin-top: 3rem;
}

.start-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 18rem;
}

.start-buttons a {
  text-align: center;
  width: 4.5rem;
}

.start-lower-menu {
  display: flex;
  flex-direction: column;
  width: 9.25rem;
}

.start-lower-menu h2 {
  margin: 0.25rem 0;
}

.start-lower-menu button {
  width: 10rem;
  margin: 0.8rem 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 30%;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  position: relative;
  background: blanchedalmond;
  border: 4px solid salmon;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 0.75rem;
  margin: auto;
  white-space: nowrap;
  width: fit-content;
}

.modal-highscores {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.modal-highscores h3 {
  margin: 0.75rem 0;
}

.modal-highscores section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-highscores header {
  text-align: center;
  font-size: 1.33rem;
  margin: 0.75rem 0 0.25rem;
}

.modal-highscores section div {
  margin: 0 1.25rem;
}

.modal-highscores section:nth-child(1) {
  border-right: 1px solid salmon;
}

.modal-highscores section:nth-child(2) {
  border-left: 1px solid salmon;
}

#hs-close,
#cat-close,
#unlocks-close,
#settings-close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: salmon;
  font-size: larger;
  text-align: start;
}

#hs-close:hover,
#cat-close:hover,
#unlocks-close:hover,
#settings-close:hover,
#hs-close:focus,
#cat-close:focus,
#unlocks-close:focus,
#settings-close:focus {
  color: black;
  cursor: pointer;
}

.unlocks-modal-content {
  display: flex;
  margin-bottom: 0.5rem;
}

.unlocks-modal-content section {
  width: 10rem;
}

.unlocks-modal-content section:nth-child(1) {
  border-right: 1px solid salmon;
  padding-right: 0.25rem;
}

.unlocks-modal-content section:nth-child(2) {
  border-left: 1px solid salmon;
  padding-left: 0.25rem;
}

#unlocks-modal p {
  margin: 0 0 1rem;
  text-align: center;
}

#unlocks-modal p:nth-child(6) {
  margin-bottom: 0;
}

#unlocks-modal h2 {
  margin: 0 0 0.5rem;
  text-align: center;
}

#unlocks-modal h3 {
  margin: 0 1rem;
  text-align: center;
}

#settings-modal h3 {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

#settings-modal h3 input {
  margin-left: 1rem;
  cursor: pointer;
}

#settings-modal h3:nth-child(4),
#settings-modal h3:nth-child(5) {
  margin-top: 1rem;
}

#music-vol-control {
  cursor: pointer;
}

form input {
  margin: 0.5rem 0;
  cursor: pointer;
  accent-color: black;
}

form label {
  cursor: pointer;
  font-size: larger;
}

form input {
  margin: 0.75rem 5px;
}

@media screen and (max-width: 480px) {
  #flippy-matchy {
    font-size: 3.25rem;
  }

  #start-main {
    overflow: hidden;
  }

  .start-lower-menu button {
    width: 10rem;
    margin: 1rem 0;
  }
}
